.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#weatherBox {
  height: 300px;
  width: 300px;
}

.freezing {
  background-color: aqua;
}

.fair {
  background-color: green;
}

.hell-scale {
  background-color: red;
}

.game-over {
  position:absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  font-size: xx-large;
  text-align: center;
  border: solid 5px blue;
  border-radius: 10px;
}

.keyboard-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard-letter {
  aspect-ratio: 1 / 1;
  width: 40px;
  padding: 5px;
  font-size: 2em;
  font-weight: bold;
}

.keyboard-letter:nth-child(n+11):nth-child(-n+19) {
  width: 41px;
}

.letter-to-guess {
  margin: 20px;
  font-size: 4em;
  color: chartreuse;
}